@media (min-width:768px) and (max-width: 1024px) {
  .social span {
    display: none;
  }
  body .everything {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .subscribe {
    display: none;
  }
  .topimage img {
    width: 164px;
    height: 97px;
  }
  .row2 {
    display: block;
    width: 100%;
    margin-top: -51px;
  }
  .row2 div {
    width: 100%;
    border-bottom: none;
    margin-bottom: 5px;
  }
  form {
    display: none;
  }
  .row3 {
    width: 56%;
        height: 134px;
        border: solid #fff;
        margin-top: 7px;
        background-position: 61% 30%;
        margin-left: 25%;
        margin-right: 25%;

  }
  .row6 {
    width: 100%;
    display: inline-flex;
    height: 210px;
    margin-top: -80px;

  }
  .row6 img {
    width: 6%;
    height: 183px;
        margin-left: 26px;
  }

  .row4 {
    display: inline-flex;
    text-align: center;
    width: 100%;
    margin-left: 7px;
    margin-bottom: -94px;
  }
  .row4 div {
  height: 219px;
  }
  .row4 h3 {
    font-size: 14px;
  }
  .row4 h6 {
    font-size: 7px;
  }
  .row4 p {
    font-size: 10px;
    font-size: 10px;
   position: relative;
   top: 24px;

  }
  .row4 h4 {
    font-size: 7px;
  }
  .grid img {
    display: none;
  }
  .footerleft h3 {
    font-size: 14px;
  }
  .footerleft p {
    font-size: 7px;
  }
.article3 h6 {
  top: 2px;
  margin-bottom: 31px;
}
footer {
  height: 33px;
  width: 100%;
background-color: 0;
}
footer .row7 {
  display: inline-flex;
}
.footerleft h3 {
  display: none;
}
.footerleft p {
  display: none;
}
.socialfooter {
display: flex;
}
#march {
  position: relative;
  top: 3px;
}
#readmore2 {
  position: relative;
  top: 26px;
}
.article1 h4 {
  position: relative;
  top: 30px;
}

}
