@media (min-width:320px) and (max-width: 767px) {
  .social span {
    display: none;
  }
  body .everything {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .subscribe {
    display: none;
  }
  .topimage img {
    width: 126px;
    height: 88px;
  }

  .row1 {
    padding: 0;
  }
  .row2 {
    display: block;
    width: 100%;
    margin-top: 7px;
  }
  .row2 div {
    width: 100%;
    border-bottom: none;
    margin-bottom: 5px;
  }
  form {
    display: none;
  }
  .row3 {
    width: 56%;
    height: 134px;
    border: solid #fff;
    margin-top: 7px;
    background-position: 61% 30%;
    margin-left: 25%;
    margin-right: 25%;

  }
  .row6 {
    width: 100%;
    margin-top: -125px;
  }
  .row6 img {
    width: 5%;
    height: 175px;
  }
  .row4 {
    display: inline;
  }
  .row4 div {
    height: 140px;
   margin-top: 15px;
  }
  .row4 h3 {
    font-size: 14px;
  }
  .row4 h6 {
    font-size: 7px;
  }
  .row4 p {
    font-size: 10px;
  }
  .row4 h4 {
    font-size: 7px;
  }
  .grid img {
    display: none;
  }
.row5 h2 {
  display: none;
}
.steve img {
  height: 100px;
  margin-top: -94px;
  width: 47%;
}
.steve {
  margin-left: 25px;
  position: relative;
  top: -28px;
}
.lance {
  margin-right: 12px;
  margin-left: 25px;
}
.lance img {
  height: 100px;
}
.rodney img {
  height: 100px;
}
.tommy img {
  height: 100px;
  position: relative;
  top: -139px;
  width: 90%;
}
  .footerleft h3 {
    font-size: 14px;
  }
  .footerleft p {
    font-size: 7px;
  }


.article3 h6 {
  top: 2px;
}
.article3 p {
   position: relative;
   top: -22px;


}
#lastarticle {
  margin-top: -22px;
}
footer {
  height: 33px;
  width: 100%;
background-color: 0;

}
footer .row7 {
  display: inline-flex;
}
.footerleft h3 {
  display: none;
}
.footerleft p {
  display: none;
}
.socialfooter {
display: flex;
}
.row5 {
  width: 100%;
  display: inline-block;
}
.row5column1 {
  width: 100%;
}
.halfpics {
  width: 100%;
    margin-bottom: 6px;
}
.row5column2 {
  width: 47%;
  float: right;
  height: 100px;
}

}
